@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
       url("../fonts/Roboto-Medium.woff") format("woff"),
       url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/Roboto-Regular.woff") format("woff"),
       url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

  background-color: #F1F1F1;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  color: #505050;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px 6px 32px;
  margin-bottom: 2px;

  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px 0px #0000001A;
}

.profile-header-title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-header-title {
  position: relative;

  font-size: 18px;
  font-weight: 400;
}

.profile-header-title-bold {
  font-weight: 500;
}

.profile-header-icons {
  display: flex;
}

.profile-header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
}

.profile-header-icon:not(:first-child) {
  margin-left: 32px;
}

.profile-header-icon-title {
  font-size: 14px;
  font-weight: 400;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 66px 0 32px;
  margin-bottom: 2px;

  box-shadow: 0px 1px 1px 0px #0000001A;

  background-color: #FAFAFA;
}

.header-nav-menu-burger{
  display: none;
}

.header-nav-list {
  display: flex;
}

.header-nav-item-link {
  display: flex;
  padding: 10px 16px;
}

.header-nav-pages-item-link {
  padding: 12px 17px;
}

.header-nav-item-link:hover {
  background-color: #F1F1F1;
  cursor: pointer;
}

.header-nav-pages-item-link_active {
  background-color: #F1F1F1;
}

.header-nav-pages-item-title {
  margin-left: 13px;

  font-weight: 400;
  font-size: 14px;
}

.header-nav-menu-item-title {
  margin-left: 8px;

  font-weight: 400;
  font-size: 14px;
}

.header-nav-menu-item-settings {
  position: relative;

  display: flex;
  padding: 10px 8px;

  cursor: pointer;
}

.header-nav-menu-item-settings::after {
  content: '';

  position: absolute;
  right: -25px;
  top: 16px;

  width: 5px;
  height: 5px;
  border-top: 2px solid #8F8F8F;
  border-right: 2px solid #8F8F8F;
  margin: 0 8px;

  transform: rotate(135deg);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 30px 32px 43px 32px;

  overflow: hidden;
  color: #505050;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 32px;
}

.main-content-post {
  padding: 19px 32px;

  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #0000001A;
}

.main-content-post:not(:first-child) {
  display: flex;
  justify-content: space-between;
}

.main-content-post-first {
  padding: 53px 32px 32px 32px;
}

.main-content-post-image {
  width: 100%;
  margin-bottom: 17px;
}

.post-comment-title {
  position: relative;
  
  margin: 0 0 19px 32px;

  font-weight: 400;
  font-size: 14px;
}

.post-comment-name {
  color: #5095EC;
}

.post-comment-title::before {
  content: '';

  position: absolute;
  left: -32px;
  bottom: -3px;

  width: 24px;
  height: 24px;

  background-image: url(../svg/Comment.svg);
}

.comment-wrapper {
  position: relative;

  margin: 0 0 16px 10px;
}

.comment-wrapper::before {
  content: '';

  position: absolute;
  left: -10px;

  width: 2px;
  height: 100%;

  background-color: #D3D8DE;
}

.post-comment {
  margin: 0 0 16px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.post-comment-meta {
  font-weight: 400;
  font-size: 14px;

  color: #8F8F8F;
}

.number-of-views {
  position: relative;

  margin-left: 32px;

  font-weight: 400;
  font-size: 16px;
}

.number-of-views::before {
  content: '';

  position: absolute;
  left: -31px;
  top: 2px;

  width: 24px;
  height: 24px;

  background-image: url(../svg/eye.svg);
  background-repeat: no-repeat;
}

.number-of-comments {
  position: relative;

  margin-left: 60px;

  font-weight: 400;
  font-size: 16px;
}

.number-of-comments::before {
  content: '';

  position: absolute;
  left: -31px;
  top: -3px;

  width: 24px;
  height: 24px;

  background-image: url(../svg/Comment.svg);
  background-repeat: no-repeat;
}

.main-content-post-title {
  font-weight: 400;
  font-size: 16px;
}

.main-content-post-time-wrapper {
  display: flex;
  gap: 9px;
}

.main-content-post-time-image {
  width: 20px;
  height: 20px;
}

.main-content-post-time {
  position: relative;

  margin-right: 40px;
}

.main-content-post-time::after {
  content: '';

  position: absolute;
  right: -40px;
  top: 4px;

  width: 8px;
  height: 8px;
  border-top: 2px solid #8F8F8F;
  border-right: 2px solid #8F8F8F;
  margin: 0 8px;

  transform: rotate(135deg);
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.profile-section {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px #0000001A;
}

.profile {
  padding: 32px 66px 31px 66px;
}

.profile-avatar {
  margin-bottom: 11px;
}

.profile-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;

  text-align: center;
}

.profile-specialization {
  display: block;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;

  color: #8F8F8F;
  text-align: center;
}

.profile-media {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.profile-navigation-title {
  position: relative;

  padding: 10px 44px 10px 16px;

  font-weight: 500;
  font-size: 14px;

  border-bottom: 1px solid #D3D8DE;
}

.profile-navigation-title::after {
  content: '';

  position: absolute;
  right: 13px;
  top: 16px;

  width: 7px;
  height: 7px;
  border-top: 2px solid #8F8F8F;
  border-right: 2px solid #8F8F8F;
  margin: 0 8px;

  transform: rotate(-45deg);
}

.profile-navigation-list {
  padding-top: 16px;
}

.profile-navigation-item {
  padding: 3px 19px;
  margin-bottom: 16px;
}

.profile-navigation-item:nth-child(4) {
  border-bottom: 1px solid #D3D8DE;
  padding-bottom: 16px;
}

.profile-navigation-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-navigation-item-title {
  font-weight: 400;
  font-size: 14px;
}

.profile-navigation-item-value {
  margin-left: auto;
}

.balance-value {
  font-weight: 400;
  font-size: 12px;

  color: #8F8F8F;
}

.connections-value {
  padding: 1px 5px;

  font-weight: 400;
  font-size: 12px;

  background-color: #E33939;
  border-radius: 8px;
  color: #FFFFFF;
}

.events-value {
  padding: 1px 5px;

  font-weight: 400;
  font-size: 12px;

  background-color: #47B091;
  border-radius: 8px;
  color: #FFFFFF;
}

.message {
  display: flex;
  flex-direction: column;
}


.message-lable {
  position: relative;

  padding: 10px 44px 10px 16px;

  font-weight: 500;
  font-size: 14px;

  border-bottom: 1px solid #D3D8DE;
}

.message-lable::after {
  content: '';

  position: absolute;
  right: 13px;
  top: 16px;

  width: 7px;
  height: 7px;
  border-top: 2px solid #8F8F8F;
  border-right: 2px solid #8F8F8F;
  margin: 0 8px;

  transform: rotate(-45deg);
}

.message-textarea {
  margin: 8px 16px;
  padding: 10px 16px 0 16px;
  min-height: 76px;

  resize: none;
  border-radius: 4px;
  border: 1px solid #D3D8DE;
}

.message-textarea:focus {
  outline: 1px #505050 solid;
}

.message-button {
  margin: 0 16px 16px 16px;
  padding: 8px 0;

  font-weight: 500;
  font-size: 14px;

  background-color: #5095EC;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

.map-wrapper {
  padding: 17px 32px 32px 32px;
  width: 100%;

  background-color: #FFFFFF;
}

.map-wrapper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.map-title {
  font-weight: 400;
  font-size: 16px;

  color: #505050;
}

.map-icons {
  display: flex;
  gap: 8px;
}

.map {
  position: relative;

  width: 100%;
  height: 480px;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.preloader-icon {
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 17px 32px 32px 32px;

  background-color: #fff;
}

.timer-header {
  display: flex;
  justify-content: space-between;
}

.timer-title {
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 16px;

  color: #505050;
}

.timer {
  margin: 0;

  font-weight: 400;
  font-size: 16px;

  color: #505050;
}

@media (max-width: 800px) {
  .header-nav-menu {
    display: none;
  }

  .header-nav-menu-burger {
    display: block;
    width: 20px; 
    height: 20px;
  }

  .header-nav {
    align-items: center;
    padding-right: 32px;
  }

  .main-content-post-first {
    padding-top: 32px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-wrap: wrap;
  }

  .main-content-wrapper {
    width: 100%;
    margin-right: 0;
  }

  .main-content-post-image {
    height: 300px;
    object-fit: cover;
  }

  .main-content-post:last-child {
    margin-bottom: 32px;
  }

  .profile-wrapper {
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-name {
    font-size: 22px;
  }

  .profile-specialization {
    font-size: 16px;
  }

  .profile-media-item {
    width: 30px;
    height: 30px;
  }

  .profile-navigation-title {
    font-size: 20px;
  }

  .profile-navigation-item-title {
    font-size: 18px;
  }
  
  .profile-navigation-item-value {
    font-size: 16px;
  }

  .connections-value {
    border-radius: 14px;
  }

  .events-value {
    border-radius: 14px;
  }

  .message-lable {
    font-size: 20px;
  }

  .message-textarea {
    font-size: 16px;
  }

  .message-button {
    font-size: 18px;
  }

  .map {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .header-nav-menu-burger{
    width: 15px;
    height: 15px;
  }

  .profile-header-title {
    display: none;
  }

  .profile-header-icon-title {
    font-size: 12px;
  }

  .header-nav-pages-item-title  {
    font-size: 12px;
  }

  .main-content-post-image {
    height: 150px;
  }
}